$stop : #F24E38;
$start : #0ca566;

$pomodoroWidth : 1000px;

$login-break-small: 540px;
$login-break-xsmall: 370px;

$timer-break-xlarge: 1525px;
$timer-break-large: 1325px;
$timer-break-large2: 1225px;
$timer-break-medium: 1065px;


