.btn {
    margin: 0 auto;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    width: 290px;
    height: 60px;
    display: block;
    background-color: $start;
    color: #fff;
    &:hover {
        background-color: darken($start, 5%);
    }
    &:focus {
        outline: 0;
    }
    span {
        font: 34px "Helvetic Neue", sans-serif;
        padding: 6px;
    }
}

.stop-button {
    //@extend .btn;
    background-color: $error;
    &:hover {
        background-color: darken($error, 5%);
    }
}