.btn {
    cursor: pointer;
    border: 0;
    display: block;
    background-color: transparent;
    color: #fff;
    &:focus {
        outline: 0;
    }
}

.icn {
    margin: 0 auto;
    display: block;
    width: 60px;
    height: 60px;
    padding: 2px;
    background-repeat: no-repeat;
}

.tasks-btn {
    height: 50px;
    width: 100%;
    border-radius: 4px;
    margin: 20px 0;
    padding: 0 20px;
    font: 18px "Helvetic Neue", sans-serif;
    background-color: #464646;
    &:hover {
        background-color: darken(#464646, 5%);
    }
    span {
        font: 34px "Helvetic Neue", sans-serif;
        padding: 6px;
    }
}

.pomo-btn {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

.start-btn {
    background-color: $start;
    .icn {
        background-image: url(/assets/images/icn-play.png);
        background-size: 40px;
        background-position: 15px 11px;
    }
    &:hover {
        background-color: darken($start, 5%);
    }
}

.reset-btn {
    background-color: $stop;
    margin: 0 auto;
    display: block;
    float: none;
    .icn {
        background-image: url(/assets/images/icn-reset.png);
        background-size: 54px;
        background-position: 35% 3px;
    }
    &:hover {
        background-color: darken($stop, 5%);
    }
}

.reset-btn--w-pause {
    margin: 0 !important;
    float: left !important;
}


.pause-resume-btn {
    margin: 0;
    display: block;
    float: right;
}
.pause-btn {
    background-color: $stop;
    background-image: url(/assets/images/icn-pause.png);
    background-size: 36px;
    background-position: 49% 50%;
    &:hover {
        background-color: darken($stop, 5%);
    }
}
.resume-btn {
    background-color: $start;
    background-image: url(/assets/images/icn-play.png);
    background-size: 40px;
    background-position: 54% 50%;
    &:hover {
        background-color: darken($start, 5%);
    }
}

.resume-btn {
    @extend .pause-btn;
}

.trash-btn {
    width: 26px;
    height: 26px;
    display: block;
    background-color: transparent;
    background-image: url(/assets/images/icn-trash.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.login-btn {
    display: block;
    width: 400px;
    margin: 30px auto 0;
    text-align: center;
    border: solid 4px;
    border-radius: 4px;
    background-color: darkgray;
    padding: 24px 0 20px;
    font: 27px "Gotham Rounded","Helvetic Neue", sans-serif;
    text-decoration: none;
    .logo-container + & {
        margin-top: 60px !important;
    }
    @media screen and (max-width: $login-break-small) {
        width: 320px;
        font-size: 20px;
    }
    @media screen and (max-width: $login-break-xsmall) {
        width: 280px;
    }
}

.google-btn {
    background-color: $stop;
    border-color: darken($stop, 5%);
    text-align: right;
    .google-logo {
        display: inline-block;
        background-image: url("/assets/images/google-logo.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 100px;
        height: 35px;
        float: right;
        margin: 0 68px 0 9px;
        @media screen and (max-width: $login-break-small) {
            width: 84px;
            margin: 0 54px 0 9px;
        }
        @media screen and (max-width: $login-break-xsmall) {
            margin: 0 38px 0 9px;
        }
    }
    &:hover {
        background-color: darken($stop, 4%);
        border-color: darken($stop, 9%);
    }
    &:active {
        background-color: darken($stop, 8%);
        border-color: darken($stop, 13%);
    }
}

.guest-btn {
    border-color: darken(darkgray, 8%);
    &:hover {
        background-color: darken(darkgray, 5%);
        border-color: darken(darkgray, 13%);
    }
    &:active {
        background-color: darken(darkgray, 8%);
        border-color: darken(darkgray, 17%);
    }
}