html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
}
div[ui-view] {
    height: 100%;
}
.tasks {
    position: relative;
    height: 100%;
    width: auto;
    margin-right: $pomodoroWidth;
    .container {
        min-height: 100%;
        padding: 20px;
        background-color: #ededed;
        h1 {
            font: 40px "Helvetic Neue", sans-serif;
            text-align: center;
            color: #464646;
            margin: 0 0 10px 0;
        }
        section {
            text-align: center;
            margin-bottom: 18px;
            .nav {
                box-sizing: border-box;
                display: inline-block;
                list-style: none;
                margin: 0 auto;
                padding: 0;
                height: 40px;
                > li {
                    float: left;
                    width: auto;
                    height: auto;
                    position: relative;
                    display: block;
                    > a {
                        position: relative;
                        display: block;
                        width: 110px;
                        padding: 10px 20px;
                        text-decoration: none;
                        color: #464646;
                        //background-color: #464646;
                        //border: 2px solid darken(#464646, 10%);
                        //border-radius: 4px;
                        font: 20px "Helvetic Neue", sans-serif;
                        text-align: center;
                        vertical-align: middle;
                        &:hover, &:focus {
                            text-decoration: none;
                            border-bottom: 4px solid lighten(#464646, 50%);
                            cursor: pointer;
                        }
                    }
                    + li {
                        margin-left: 10px;
                    }
                    .active {
                        color: $start;
                        border-bottom: 4px solid $start;
                        &:hover {
                            border-bottom: 4px solid $start;
                        }
                    }
                }

            }
        }
        input {
            box-sizing: border-box;
            display: block;
            height: 50px;
            padding: 10px;
            border: 2px solid #d6d6d6;
            border-radius: 4px;
            font: 22px "Helvetic Neue", sans-serif;
            color: #555;
            &:focus {
                outline: 0;
            };
            &[placeholder] {
                font-style: italic;
                font-weight: 300;
            }
        }
        .task-title {
            float: left;
            width: 76%;
            margin-right: 4%;
        }
        .task-pomodoros {
            width: 20%;
        }
        .todo-tasks {
            margin: 20px 0 0 0;
            div {
                position: relative;
                &:hover {
                    background-color: rgba(0,0,0,.1);
                    cursor: pointer;
                    .task-trash {
                        display: block;
                    }
                }
                p {
                    position: relative;
                    font: 18px "Helvetic Neue", sans-serif;
                    color: #464646;
                    padding: 20px 0 20px 6px;
                    border-bottom: 1px solid #464646;
                    margin: 0;

                    .task-trash {
                        position: absolute;
                        display: none;
                        width: 34px;
                        height: 34px;
                        background-color: transparent;
                        cursor: pointer;
                        right: 0;
                        top: 18px;
                    }
                    .task-pomodoro-length {
                        float: right;
                        margin-right: 48px;
                    }
                }
            }
            .completed-task {
                p {
                    font-style: italic;
                    color: #6c6662 !important;
                    &:after {
                        content: '';
                        position: absolute;
                        display: block;
                        height: 1px;
                        width: 98%;
                        left: 1%;
                        top: 50%;
                        background-color: #6c6662;
                    }
                }
            }
            .is-selected {
                background-color: $start;
                p {
                    color: #ffffff !important;
                }
                &:hover {
                    background-color: darken($start, 5%);
                }
            }
            .hide-task {
                display: none;
            }
        }
    }
}

.pomodoro {
    height: 100%;
    width: $pomodoroWidth;
    float: right;
    .session-info {
        display: block;
        text-align: center;
        margin: 0 auto;
        font: 40px "Helvetic Neue", sans-serif;
        width: auto;
        height: 120px;
        line-height: 60px;
        position: absolute;
        left: 42%;
        top: 8px;
    }
    .container {
        position: relative;
        min-height: 100%;
        width: 100%;
        padding-top: 1px;
        .timer {
            display: block;
            text-align: center;
            margin: 0 auto;
            margin-top: 327px;
            width: 600px;
            border: 0;
            font: 170px "Helvetic Neue", sans-serif;
            color: #555;
            background-color: transparent;
            &:focus {
                outline: 0;
            };
        }
        .pomodoro-controls {
            margin: 200px auto 0;
            width: 250px;
            height: auto;
            display: block;
        }
    }
}