.pomodoro {
    height: 60%;
    width: 100%;
    margin-top: 130px;
    .container {
        width: 60%;
        margin: 0 auto;
        p, .timer {
            display: block;
            text-align: center;
            margin: 0 auto;
        }
        p {
            font: 20px "Helvetic Neue", sans-serif;
            width: 500px;
            line-height: 30px;
        }
        .timer {
            width: 180px;
            border: 0;
            font: 70px "Helvetic Neue", sans-serif;
            color: #555;
            &:focus {
                outline: 0;
            };
        }
    }
}