<div class="pomodoro">
    <!--<p class="session-info" ng-show="sessionName">{{ totalPomodoros }} Pomodoro(s) Completed<br />{{ sessionName }} Session -&#45;&#45; {{ interruptions }} Interruptions</p>-->
    <div class="container">
        <p class="timer">{{ timeInSeconds | prettyTime}}</p>
        <div class="pomodoro-controls">
            <button class="btn pomo-btn"
                    ng-class="{'start-btn' : !sessionInProgress, 'reset-btn' : sessionInProgress, 'reset-btn--w-pause' : sessionInProgress && sessionName === 'Pomodoro'}"
                    ng-click="startStop()">
                    <span class="icn"></span>
            </button>
            <button class="btn pomo-btn icn pause-resume-btn"
                    ng-show="sessionInProgress && sessionName === 'Pomodoro'"
                    ng-class="{'pause-btn' : isRunning, 'resume-btn' : !isRunning}"
                    ng-click="pauseResume()">
                    <span class="icn"></span>
            </button>
        </div>

        <div id="polar"></div>
    </div>
</div>

