<timer></timer>

<div class="tasks">
    <div class="container">
        <h1>Tasks</h1>

        <form name="taskHistory" role="form" novalidate ng-submit="addTask()">
            <input class="task-title" type="text" ng-model="newTask.title"/>
            <input class="task-pomodoros" type="number" ng-model="newTask.pomodoros"/>
            <button type="submit" class="btn tasks-btn">Add Task</button>
            <div class="completed-tasks">
                <div>
                    <p ng-show="newTask.title" ng-model="newTask.title">{{ newTask.title }}
                        <span class="task-pomodoro-length" ng-model="newTask.title">{{ newTask.pomodoros }}</span>
                    </p>
                </div>
            </div>
        </form>

        <div class="completed-tasks">
            <div ng-repeat="task in completedTasks | orderBy: '-created'"
                 ng-click="selectTask(task)"
                 ng-mouseover="showTrash(task)"
                 ng-mouseleave="hideTrash(task)"
                 ng-class="{'is-selected' : task.isSelected}">
                <p>{{ task.title }}
                    <span class="task-trash" ng-show="task.trashCanIsShowing" ng-click="removeTask(task)">
                        <i class="trash-btn"></i>
                    </span>
                    <span class="task-pomodoro-length">{{ task.pomodoros }}</span>
                </p>
            </div>
        </div>

        <button ng-click="logSelectedTask()">Selected Task</button>

    </div>
</div>

<!--ng-click="selectTask(task); completedTasks.$save(task)"-->
