<!--<a ui-sref="pomodoro">Pomodoro</a>-->

<!--<button ng-hide="authData" ng-click="login()">Login with Google</button>-->
<!--<button ng-show="authData" ng-click="logout()">Logout</button>-->

<!--<div ng-show="authData">-->
    <!--<img ng-src="{{authData.google.cachedUserProfile.picture}}" />-->
    <!--<p>{{authData.google.displayName}}</p>-->
<!--</div>-->

<!--<button ng-click="clickMe()">Auth Data</button>-->
<div id="login-page">
    <div class="login-container">
        <div class="logo-container">
            <img class="pomodoro-logo" src="/assets/images/logo.png" alt="Pomodoro Timer Logo"/>
        </div>
        <a class="btn login-btn google-btn" ng-click="login()">Sign in with <span class="google-logo"></span></a>
        <a class="btn login-btn guest-btn" ui-sref="pomodoro" ng-click="guestLogin()">Continue as guest</a>
    </div>
</div>